* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 1.5em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav_logo .logoText {
  font-size: 30px;
  margin-left: 5px;
  display: inline-block;
  margin-top: 10px;
}

header nav .nav_logo .logoText span {
  color: #6C2DD3;
}

header nav .navbar_toggle {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

header nav .navbar_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .navbar_items .navbar_links {
  text-decoration: none;
  list-style: none;
  padding: 1.5em;
  font-weight: bold;
}

header nav .navbar_items .navbar_links a {
  text-decoration: none;
  color: #999696;
}

header nav .navbar_items .navbar_links a:hover {
  color: #6C2DD3;
}

header nav .navbar_items .navbar_links:nth-child(1) {
  position: relative;
}

header nav .navbar_items .navbar_links:nth-child(1) a {
  color: #6C2DD3;
}

header nav .navbar_items .navbar_btn {
  margin-top: 10px;
  margin-left: 2em;
}

header nav .navbar_items .navbar_btn .btn {
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

header nav .navbar_items .navbar_btn .log_in {
  background: transparent;
  border: 2px solid #6C2DD3;
  font-weight: bold;
}

header nav .navbar_items .navbar_btn .log_in:hover {
  background: #6C2DD3;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav .navbar_items .navbar_btn .sign_up {
  background: #6C2DD3;
  color: white;
  margin-left: 10px;
}

.showcase {
  padding: 2rem;
}

.showcase .showcase_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showcase .showcase_item .showcase_text {
  margin-top: 5rem;
}

.showcase .showcase_item .showcase_text p {
  font-weight: bold;
  color: #999696;
  font-size: 18px;
}

.showcase .showcase_item .showcase_text p span {
  color: #6C2DD3;
  font-size: 18px;
}

.showcase .showcase_item .showcase_text h1 {
  margin-top: 10px;
  width: 95%;
  font-size: 3rem;
}

.showcase .showcase_item .showcase_text h1 span {
  color: #6C2DD3;
}

.showcase .showcase_item .showcase_text .showcase_btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showcase .showcase_item .showcase_text .showcase_btn button {
  padding: 15px 20px;
  border: 0;
  background: #6C2DD3;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.showcase .showcase_item .showcase_text .showcase_btn h3 {
  color: #999696;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.showcase .showcase_item .showcase_img {
  width: 100%;
  height: 70vh;
  background: url("../image/Screenshot 2022-05-06 141218.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 852px) {
  header nav .nav_logo {
    margin-top: 5px;
  }
  header nav .navbar_items .navbar_btn {
    margin-left: 20px;
    display: none;
  }
  .showcase {
    padding: 2rem;
  }
  .showcase .showcase_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .showcase .showcase_item .showcase_text {
    margin-top: 3em;
  }
  .showcase .showcase_item .showcase_text p {
    font-weight: bold;
    color: #999696;
    font-size: 18px;
  }
  .showcase .showcase_item .showcase_text p span {
    color: #6C2DD3;
    font-size: 18px;
  }
  .showcase .showcase_item .showcase_text h1 {
    margin-top: 10px;
    font-size: 2rem;
    width: 95%;
  }
  .showcase .showcase_item .showcase_text h1 span {
    color: #6C2DD3;
  }
  .showcase .showcase_item .showcase_text .showcase_btn {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .showcase .showcase_item .showcase_text .showcase_btn button {
    padding: 15px 20px;
    border: 0;
    background: #6C2DD3;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .showcase .showcase_item .showcase_text .showcase_btn h3 {
    color: #999696;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  .showcase .showcase_item .showcase_img {
    width: 100%;
    height: 50vh;
    background: url("../image/Screenshot 2022-05-06 141218.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  header nav .navbar_toggle {
    display: block;
    margin-top: 10px;
  }
  header nav .navbar_items {
    position: absolute;
    display: block;
    margin-top: -200%;
    -webkit-transition: 2s ease;
    transition: 2s ease;
    background: red;
    width: 92%;
  }
  header nav .navbar_items .navbar_btn {
    margin-left: 20px;
    display: none;
  }
  header nav .navbar_items .navbar_btn .btn {
    padding: 15px 50px;
  }
  header nav .navbar_items .navbar_btn .log_in {
    display: block;
  }
  header nav .navbar_items .navbar_btn .sign_up {
    margin-top: 10px;
    margin-left: 0;
  }
  header nav .active {
    margin-top: 5rem;
  }
  .showcase {
    padding: 2rem;
  }
  .showcase .showcase_item {
    display: block;
  }
  .showcase .showcase_item .showcase_text p {
    font-weight: bold;
    color: #999696;
    font-size: 18px;
  }
  .showcase .showcase_item .showcase_text p span {
    color: #6C2DD3;
    font-size: 18px;
  }
  .showcase .showcase_item .showcase_text h1 {
    margin-top: 10px;
    line-height: 45px;
    width: 95%;
  }
  .showcase .showcase_item .showcase_text h1 span {
    color: #6C2DD3;
  }
  .showcase .showcase_item .showcase_text .showcase_btn {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .showcase .showcase_item .showcase_text .showcase_btn button {
    padding: 15px 20px;
    border: 0;
    background: #6C2DD3;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .showcase .showcase_item .showcase_text .showcase_btn h3 {
    color: #999696;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  .showcase .showcase_item .showcase_img {
    width: 100%;
    height: 80vh;
    background: url("../image/Screenshot 2022-05-06 141218.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
/*# sourceMappingURL=style.css.map */