*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 1.5em;
    
    nav{
        display: flex;
        justify-content: space-between;

        .nav_logo{
            // background: red;
            // padding: 10px;
            // .logo{
            //    width: 10vw;
            //    height: 10vw;
            //    background: url("../image/Group\ 16.png");
            //    background-position: center;
            //    background-repeat: no-repeat;
            //    background-size: contain;
            // }
            
            .logoText{
                font-size: 30px;
                margin-left: 5px;
                display: inline-block;
                margin-top: 10px;
                
                span{
                    color: #6C2DD3;
                }
            }
        }

        .navbar_toggle{
            font-size: 30px;
            display: none;
            cursor: pointer;
        }

        .navbar_items{
            display: flex;
            justify-content: space-between;

            .navbar_links{
                text-decoration: none;
                list-style: none;
                padding: 1.5em;
                font-weight: bold;

                a{
                    text-decoration: none;
                    color: #999696;
                }
            }

            .navbar_links a:hover{
                color: #6C2DD3;
            }

            .navbar_links:nth-child(1){
                position: relative;
                a{
                    color: #6C2DD3;
                }
            }

            // .navbar_links:nth-child(1)::after{
            //     width: 10px;
            //     height: 10px;
            //     color: #6C2DD3;
            //     content: '';
            //     position: absolute;
            // }

            .navbar_btn{
                margin-top: 10px;
                margin-left: 2em;
                .btn{
                    padding: 15px 20px;
                    border: 0;
                    border-radius: 10px;
                    cursor: pointer;
                }

                .log_in{
                    background: transparent;
                    border: 2px solid #6C2DD3;
                    font-weight: bold;
                }

                .log_in:hover{
                    background: #6C2DD3;
                    color: white;
                    transition: 0.5s;
                }

                .sign_up{
                    background: #6C2DD3;
                    color: white;
                    margin-left: 10px;
                }
            }
        }
    }
}

.showcase{
    padding: 2rem;
    .showcase_item{
        display: flex;
        justify-content: space-between;
        .showcase_text{
            margin-top: 5rem;
            p{
                font-weight: bold;
                color: #999696;
                font-size: 18px;

                span{
                    color: #6C2DD3;
                    font-size: 18px;
                }
            }

            h1{
                margin-top: 10px;
                width: 95%;
                font-size: 3rem;
                span{
                    color: #6C2DD3;
                    
                }
            }

            .tex{
                margin-top: 20px;
            }

            .showcase_btn{
                margin-top: 20px;
                display: flex;

                button{
                    padding: 15px 20px;
                    border: 0;
                    background: #6C2DD3;
                    border-radius: 20px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }

                h3{
                    color: #999696;
                    margin-top: 10px;
                    margin-left: 20px;
                    cursor: pointer;
                }
            }

        }

        .showcase_img{
            width: 100%;
            height: 70vh;
            background: url("../image/Screenshot\ 2022-05-06\ 141218.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    
    }

    .showcase__item{

        .viral{
            display: flex;
            margin-top: 1em;

            .listeners{

                h1{
                    color: #999696;
                    font-weight: bolder;
                }

                p{
                    font-size: 18px;
                    margin-top: 0.2em;
                }
            }

            .subs{
                margin-left: 1em;
                h1{
                    color: #999696;
                    font-weight: bolder;
                }

                p{
                    font-size: 18px;
                    margin-top: 0.2em;
                }
            }
        }
    }
}

.different{
    background: #060220;
    padding: 2em;
    height: 35em;
    padding-top: 5em;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;

    .diff_image{
        width: 100%;
        height: 30em;
        background: url("../image/Screenshot\ 2022-05-06\ 141308.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .diff_item{
        margin-top: 3em;

        .diff_points{
           

            .point{
                display: flex;
                margin-left: 20px;
                padding-top: 3em;

                .dot{
                    width: 1em;
                    height: 1em;
                    background: #6C2DD3;
                    margin-top: 5px;
                    border-radius: 20px;
                }

                p{
                    font-size: 18px;
                    margin-left: 20px;
                }
            }
        }

        .btn{
            margin-top: 2.5em;
            margin-left: 1.5em;

            button{
                padding: 15px 20px;
                border-radius: 10px;
                background: #6C2DD3;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.top_podcast{
    padding: 2em;
    text-align: center;
    .podcast_Item{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 2em;
        .podcast{
            width: 70%;
            background:red;
            padding: 1.5em;
            margin: 20px;
    
            .top{
                display: flex;
                justify-content: space-between;
                
                .left{
                    display: flex;
                    .podcast_top_img{
                        width: 3em;
                        height: 3em;
                        background: black;
                        border-radius: 50%;
                    }
    
                    p{
                        margin-top: 15px;
                        margin-left: 10px;
                        font-weight: bold;
                        color: #999696;
                    }
                }
    
                .toggle{
                    margin-top: 10px;
                    color: #999696;
                }
            }
    
            .podcast_img{
                width: 100%;
                height: 15em;
                background: blue;
                margin-top: 20px;
                border-radius: 20px;
            }
        }
    }
    
}


@media(max-width: 852px){
    header{

        nav{
            .nav_logo{
                margin-top: 5px;
            }


            .navbar_items{
                width: 83%;

                .navbar_btn{
                    margin-left: 20px;
                    display: none;

                }
            }
            
        }
    }

    .showcase{
        padding: 2rem;
        .showcase_item{
            display: flex;
            justify-content: space-between;
            .showcase_text{
                margin-top: 3em;
                p{
                    font-weight: bold;
                    color: #999696;
                    font-size: 18px;
    
                    span{
                        color: #6C2DD3;
                        font-size: 18px;
                    }
                }
    
                h1{
                    margin-top: 10px;
                    font-size: 2rem;
                    width: 95%;
                    span{
                        color: #6C2DD3;
                        
                    }
                }
    
                .showcase_btn{
                    margin-top: 20px;
                    display: flex;
    
                    button{
                        padding: 15px 20px;
                        border: 0;
                        background: #6C2DD3;
                        border-radius: 20px;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                    }
    
                    h3{
                        color: #999696;
                        margin-top: 10px;
                        margin-left: 20px;
                        cursor: pointer;
                    }
                }
    
            }
    
            .showcase_img{
                width: 100%;
                height: 50vh;
                background: url("../image/Screenshot\ 2022-05-06\ 141218.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                
            }
        
        }
    }
}

@media(max-width: 768px){
    header{

        nav{
            .navbar_toggle{
                display: block;
                margin-top: 10px;
            }

            .navbar_items{
                position: absolute;
                display: block;
                margin-top: -200%;
                transition: 1.5s ease;
                background: #060220;
                width: 50%;
                margin-right: 20px;
                right: 0;
                padding: 10px;

                .navbar_btn{
                    margin-left: 20px;
                    display: none;
                    

                    .btn{
                        padding: 15px 50px;
                    }

                    .log_in{
                        display: block;
                    }

                    .sign_up{
                        margin-top: 10px;
                        margin-left: 0;
                    }
                }
            }

            .active{
                margin-top: 5rem;
            }
            
        }
    }

    .showcase{
        padding: 2rem;
        .showcase_item{
            display: block;

            .showcase_text{

                p{
                    font-weight: bold;
                    color: #999696;
                    font-size: 18px;
    
                    span{
                        color: #6C2DD3;
                        font-size: 18px;
                    }
                }
    
                h1{
                    margin-top: 10px;
                    line-height: 45px;
                    width: 95%;
                    span{
                        color: #6C2DD3;
                        
                    }
                }
    
                .showcase_btn{
                    margin-top: 20px;
                    display: flex;
    
                    button{
                        padding: 15px 20px;
                        border: 0;
                        background: #6C2DD3;
                        border-radius: 20px;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                    }
    
                    h3{
                        color: #999696;
                        margin-top: 10px;
                        margin-left: 20px;
                        cursor: pointer;
                    }
                }
    
            }
    
            .showcase_img{
                width: 100%;
                height: 80vh;
                background: url("../image/Screenshot\ 2022-05-06\ 141218.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                
            }
        
        }

        .showcase__item{
            
            p{
                font-size: 17px;
                font-weight: bold;
                color: #999696;
            }

            .viral{
                display: flex;
                margin-top: 1em;

                .listeners{

                    h1{
                        color: #999696;
                        font-weight: bolder;
                    }

                    p{
                        font-size: 18px;
                        margin-top: 0.2em;
                    }
                }

                .subs{
                    margin-left: 1em;
                    h1{
                        color: #999696;
                        font-weight: bolder;
                    }

                    p{
                        font-size: 18px;
                        margin-top: 0.2em;
                    }
                }
            }
        }
    }

    .different{
        display: block;
        height: 62em;

        .diff_item{
            margin-left: 2em;
        }
    }


    .top_podcast{

        .podcast_Item{
           display: grid;
           grid-template-columns: auto auto;
           
            .podcast:nth-child(4){
                display: none;
            }

            .podcast:nth-child(5){
                display: none;
            }

            .podcast:nth-child(6){
                display: none;
            }

            .podcast:nth-child(7){
                display: none;
            }
        }
    }
    
}
