* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 1.5em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav_logo .logoText {
  font-size: 30px;
  margin-left: 5px;
  display: inline-block;
  margin-top: 10px;
}

header nav .nav_logo .logoText span {
  color: #6C2DD3;
}

header nav .navbar_toggle {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

header nav .navbar_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .navbar_items .navbar_links {
  text-decoration: none;
  list-style: none;
  padding: 1.5em;
  font-weight: bold;
}

header nav .navbar_items .navbar_links a {
  text-decoration: none;
  color: #999696;
}

header nav .navbar_items .navbar_links a:hover {
  color: #6C2DD3;
}

header nav .navbar_items .navbar_links:nth-child(1) {
  position: relative;
}

header nav .navbar_items .navbar_links:nth-child(1) a {
  color: #6C2DD3;
}

header nav .navbar_items .navbar_btn {
  margin-top: 10px;
  margin-left: 2em;
}

header nav .navbar_items .navbar_btn .btn {
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

header nav .navbar_items .navbar_btn .log_in {
  background: transparent;
  border: 2px solid #6C2DD3;
  font-weight: bold;
}

header nav .navbar_items .navbar_btn .log_in:hover {
  background: #6C2DD3;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav .navbar_items .navbar_btn .sign_up {
  background: #6C2DD3;
  color: white;
  margin-left: 10px;
}

.showcase {
  padding: 2rem;
}

.showcase .showcase_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showcase .showcase_item .showcase_text {
  margin-top: 2rem;
}

.showcase .showcase_item .showcase_text p {
  font-weight: bold;
  color: #999696;
  font-size: 18px;
}

.showcase .showcase_item .showcase_text p span {
  color: #6C2DD3;
  font-size: 18px;
}

.showcase .showcase_item .showcase_text h1 {
  margin-top: 10px;
  width: 95%;
  font-size: 3rem;
}

.showcase .showcase_item .showcase_text h1 span {
  color: #6C2DD3;
}

.showcase .showcase_item .showcase_text .tex {
  margin-top: 20px;
}

.showcase .showcase_item .showcase_text .showcase_btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showcase .showcase_item .showcase_text .showcase_btn button {
  padding: 15px 20px;
  border: 0;
  background: #6C2DD3;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.showcase .showcase_item .showcase_text .showcase_btn h3 {
  color: #999696;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.showcase .showcase_item .showcase_img {
  width: 100%;
  height: 70vh;
  background: url("../image/Screenshot 2022-05-06 141218.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -2em;
}

.showcase .showcase__item .viral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.showcase .showcase__item .viral .listeners h1 {
  color: #999696;
  font-weight: bolder;
}

.showcase .showcase__item .viral .listeners p {
  font-size: 18px;
  margin-top: 0.2em;
}

.showcase .showcase__item .viral .subs {
  margin-left: 1em;
}

.showcase .showcase__item .viral .subs h1 {
  color: #999696;
  font-weight: bolder;
}

.showcase .showcase__item .viral .subs p {
  font-size: 18px;
  margin-top: 0.2em;
}

.different {
  background: #060220;
  padding: 2em;
  height: 100vh;
  padding-top: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  color: white;
}

.different .diff_image {
  width: 100%;
  height: 50vw;
  background: url("../image/Screenshot 2022-05-06 141308.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.different .diff_item {
  margin-top: 3em;
}

.different .diff_item .diff_points .point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  padding-top: 3em;
}

.different .diff_item .diff_points .point .dot {
  width: 1em;
  height: 1em;
  background: #6C2DD3;
  margin-top: 5px;
  border-radius: 20px;
}

.different .diff_item .diff_points .point p {
  font-size: 18px;
  margin-left: 20px;
}

.different .diff_item .btn {
  margin-top: 2.5em;
  margin-left: 1.5em;
}

.different .diff_item .btn button {
  padding: 15px 20px;
  border-radius: 10px;
  background: #6C2DD3;
  color: white;
  cursor: pointer;
}

.top_podcast {
  padding: 2em;
  text-align: center;
}

.top_podcast .podcast_Item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin-top: 2em;
}

.top_podcast .podcast_Item .podcast {
  width: 70%;
  background: white;
  -webkit-box-shadow: 5px 20px 20px 5px rgba(128, 128, 128, 0.397);
          box-shadow: 5px 20px 20px 5px rgba(128, 128, 128, 0.397);
  padding: 1.5em;
  margin: 20px;
  border-radius: 20px;
}

.top_podcast .podcast_Item .podcast .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_podcast .podcast_Item .podcast .top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_podcast .podcast_Item .podcast .top .left .podcast_top_img {
  width: 3em;
  height: 3em;
  background: black;
  border-radius: 50%;
}

.top_podcast .podcast_Item .podcast .top .left p {
  margin-top: 15px;
  margin-left: 10px;
  font-weight: bold;
  color: #999696;
}

.top_podcast .podcast_Item .podcast .top .toggle {
  margin-top: 10px;
  color: #999696;
}

.top_podcast .podcast_Item .podcast .podcast_img {
  width: 100%;
  height: 15em;
  background: url("../image/kiryl-qHe0USX8z8o-unsplash.jpg");
  margin-top: 20px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top_podcast .podcast_Item .podcast .podcast_txt {
  margin-top: 10px;
}

.top_podcast .podcast_Item .podcast .podcast_txt p {
  margin-top: 5px;
}

.top_podcast .podcast_Item .podcast:nth-child(2) .podcast_img {
  background: url("../image/mike-meyers--haAxbjiHds-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top_podcast .podcast_Item .podcast:nth-child(3) .podcast_img {
  background: url("../image/mykhailo-kopyt-0V_tGgxCeFw-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top_podcast .podcast_Item .podcast:nth-child(4) .podcast_img {
  background: url("../image/tezos--JjhlVVrbjU-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top_podcast .podcast_Item .podcast:nth-child(5) .podcast_img {
  background: url("../image/sumaid-pal-singh-bakshi-sJKGjk3Pb4M-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top_podcast .podcast_Item .podcast:nth-child(6) .podcast_img {
  background: url("../image/siednji-leon-CRdRKHvDyrE-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top_podcast .podcast_Item .podcast:nth-child(7) .podcast_img {
  background: url("../image/adam-neumann-2bYIh3rg6hI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 851px) {
  header nav .nav_logo {
    margin-top: 5px;
  }
  header nav .navbar_items {
    width: 83%;
  }
  header nav .navbar_items .navbar_btn {
    margin-left: 20px;
    display: none;
  }
  .showcase {
    padding: 2rem;
  }
  .showcase .showcase_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .showcase .showcase_item .showcase_text {
    margin-top: 2em;
  }
  .showcase .showcase_item .showcase_text p {
    font-weight: bold;
    color: #999696;
    font-size: 18px;
  }
  .showcase .showcase_item .showcase_text p span {
    color: #6C2DD3;
    font-size: 18px;
  }
  .showcase .showcase_item .showcase_text h1 {
    margin-top: 10px;
    font-size: 2rem;
    width: 95%;
  }
  .showcase .showcase_item .showcase_text h1 span {
    color: #6C2DD3;
  }
  .showcase .showcase_item .showcase_text .showcase_btn {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .showcase .showcase_item .showcase_text .showcase_btn button {
    padding: 15px 20px;
    border: 0;
    background: #6C2DD3;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .showcase .showcase_item .showcase_text .showcase_btn h3 {
    color: #999696;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  .showcase .showcase_item .showcase_img {
    width: 100%;
    height: 50vh;
    background: url("../image/Screenshot 2022-05-06 141218.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .different .diff_image {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  header nav .navbar_toggle {
    display: block;
    margin-top: 10px;
  }
  header nav .navbar_items {
    position: absolute;
    display: block;
    margin-top: -200%;
    -webkit-transition: 1.5s ease;
    transition: 1.5s ease;
    background: #060220;
    width: 50%;
    margin-right: 20px;
    right: 0;
    padding: 10px;
  }
  header nav .navbar_items .navbar_btn {
    margin-left: 20px;
    display: none;
  }
  header nav .navbar_items .navbar_btn .btn {
    padding: 15px 50px;
  }
  header nav .navbar_items .navbar_btn .log_in {
    display: block;
  }
  header nav .navbar_items .navbar_btn .sign_up {
    margin-top: 10px;
    margin-left: 0;
  }
  header nav .active {
    margin-top: 5rem;
  }
  .showcase {
    padding: 2rem;
  }
  .showcase .showcase_item {
    display: block;
  }
  .showcase .showcase_item .showcase_text p {
    font-weight: bold;
    color: #999696;
    font-size: 18px;
  }
  .showcase .showcase_item .showcase_text p span {
    color: #6C2DD3;
    font-size: 18px;
  }
  .showcase .showcase_item .showcase_text h1 {
    margin-top: 10px;
    line-height: 45px;
    width: 95%;
  }
  .showcase .showcase_item .showcase_text h1 span {
    color: #6C2DD3;
  }
  .showcase .showcase_item .showcase_text .showcase_btn {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .showcase .showcase_item .showcase_text .showcase_btn button {
    padding: 15px 20px;
    border: 0;
    background: #6C2DD3;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .showcase .showcase_item .showcase_text .showcase_btn h3 {
    color: #999696;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  .showcase .showcase_item .showcase_img {
    width: 100%;
    height: 80vh;
    background: url("../image/Screenshot 2022-05-06 141218.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .showcase .showcase__item p {
    font-size: 17px;
    font-weight: bold;
    color: #999696;
  }
  .showcase .showcase__item .viral {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1em;
  }
  .showcase .showcase__item .viral .listeners h1 {
    color: #999696;
    font-weight: bolder;
  }
  .showcase .showcase__item .viral .listeners p {
    font-size: 18px;
    margin-top: 0.2em;
  }
  .showcase .showcase__item .viral .subs {
    margin-left: 1em;
  }
  .showcase .showcase__item .viral .subs h1 {
    color: #999696;
    font-weight: bolder;
  }
  .showcase .showcase__item .viral .subs p {
    font-size: 18px;
    margin-top: 0.2em;
  }
  .different {
    display: block;
    height: 100%;
  }
  .different .diff_image {
    height: 35em;
  }
  .different .diff_item {
    margin-left: 2em;
  }
  .top_podcast .podcast_Item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .top_podcast .podcast_Item .podcast {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
  .top_podcast .podcast_Item .podcast .podcast_txt {
    margin-top: 10px;
  }
  .top_podcast .podcast_Item .podcast .podcast_txt p {
    margin-top: 5px;
  }
  .top_podcast .podcast_Item .podcast:nth-child(4) {
    display: none;
  }
  .top_podcast .podcast_Item .podcast:nth-child(5) {
    display: none;
  }
  .top_podcast .podcast_Item .podcast:nth-child(6) {
    display: none;
  }
  .top_podcast .podcast_Item .podcast:nth-child(7) {
    display: none;
  }
  .what_pple_say {
    padding: 2em;
    padding-top: 4em;
  }
  .what_pple_say h1 {
    text-align: center;
  }
  .what_pple_say .tweet {
    margin-top: 30px;
    background: #060220;
    padding: 1em;
    color: white;
    border-radius: 10px;
  }
  .what_pple_say .tweet .tweet_img_container p {
    font-size: 12px;
  }
  .what_pple_say .tweet .tweet_img_container .tweet_img {
    width: 20vw;
    height: 20vw;
    background: url("../image/20210909_215242.jpg");
    border-radius: 50%;
    margin-top: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .what_pple_say .tweet .tweet_text {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */